*{  
    border: red solid 1px;
    margin: 0;
    padding: 0;

}
body {
   
    width: 100vw;
    height: 100vh;
    display: flex;

}

.left-side {
    flex: 1;
    position: relative;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 13, 13, 0.596);

    top: 150px;
    width: 100%;
    position: absolute;
}

.odin-logo > span {
    font-size: 80px;
    color: white;
}
.right-side  {
    width: 70vw;
    padding: 0 50px;
}

#leaf-bg {
    height: 100vh;
}

.input-fields {
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    align-content: flex-start;

    
}
.input-fields > div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input-fields:nth-child(odd){
    margin-right: 30px;
}

label {
    font-size: 12px;
    width: fit-content;
}
input {
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
}