*{  
    border: red solid 1px;
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: "norse";
    src: url("fonts/norse-font/Norse-Bold.woff2") format("woff2"),
         url("fonts/norse-font/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.left-side {
    flex: 1;
    position: relative;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 13, 13, 0.596);

    top: 150px;
    width: 100%;
    position: absolute;
}

.odin-logo > span {
    font-size: 80px;
    font-family: "norse",sans-serif;
    color: white;
}
.right-side  {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#leaf-bg {
    height: 100vh;
}
.hero,
.input-box,
.bottom{
    padding: 0 50px;
}
form > button {
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
}

.input-fields {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px 100px;
    margin: 20px 0px;

    
}
.input-fields > div {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
}

label {
    font-size: 12px;
    width: fit-content;
}
input {
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
}
.input-box {
    margin-bottom: 35px;
}
.hero {
    font-size: 26px;
    margin-bottom: 50px;
}
legend{
    margin-bottom: 15px;
}
